.navbar {
  position: fixed;           
  top: 0;
  left: 0;
  width: 100vw;                
  height: 70px;               
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #4f46e5;
  color: white;
  box-sizing: border-box;
  z-index: 1000;              
}

.navbar-logo {
  margin: 0;
  font-size: 1.5rem;
}

.navbar-links a {
  color: white;
  margin-left: 1.5rem;
  text-decoration: none;
  font-weight: 500;
}

.navbar-links a:hover {
  text-decoration: underline;
}
