/* Reset general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cuerpo general */
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
  color: #222;
}

#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
